.idea
.DS_Store
KDSRouter/.idea
.idea/
KDSRouter/.idea/
/KDS/app/build/outputs/apk/KDS-release-2.0.49.apk
/KDS/.idea/caches
/KDSRouter/.idea/caches/build_file_checksums.ser
/KDSRouter/.idea/caches/gradle_models.ser
/KDSRouter/.idea/workspace.xml
/KDS/app/app.iml
/KDS/.idea/codeStyles/Project.xml
/KDS/.idea
/KDS/.idea/modules.xml
/KDS/.idea/gradle.xml
/KDS/.idea/misc.xml
